@import "~antd/dist/antd.css";
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.ant-btn-lg {
  border-color: #00a34b;
  color: #00a34b;
}
.ant-btn-lg:hover {
  background-color: #00a34b;
  color: #fff;
}
.ant-btn-lg span {
  padding: 2px 17px 4px 4px;
}
.writerdetailsStyle {
  display: inline-flex;
}
.styleWriterleft {
  padding: 2rem;
}
.styleWriterleft h3 {
  color: #00a34b;
}

.imgStyle {
  width: 46px;
  margin-right: 67px;
  height: 39px;
  margin-left: 14px;
  padding-top: 3px;
  cursor: pointer;
}
.ant-input {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}
/* .ant-space-item{
  margin-right: 3rem !important;
} */
.ant-statistic-content-value {
  font-size: 17px;
  color: rgb(151, 146, 146);
}
.ant-typography {
  font-weight: 600;
}
.ant-btn ant-btn-primary {
  margin-top: 1rem;
}

.ant-btn-sm {
  border: 2px solid #1890ff;
  padding: 3px 22px 4px;
  height: 35px;
  color: #1890ff;
}
.ant-btn-sm span {
  font-weight: 600;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 2px solid #1890ff !important;
}
.styleSpace {
  position: absolute;
  left: 4px !important;
  top: 10px !important;
}
.ant-space ant-space-horizontal ant-space-align-end {
  top: 136px;
  right: 25px;
  position: absolute;
}
.ant-popover-message > .anticon {
  top: "59.005px";
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #9fa2b4;
  opacity: 0.9;
}
.ant-layout-header {
  height: 46px !important;
}
.dashboardTitle
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
  .ant-menu-item-selected {
  background: none;
}
